h1 {
    color: blueviolet;
    margin: 16px 10px 16px 10px;
}

p {
    margin: 16px 10px 16px 10px;
}

.container {
    background-color: rgb(51, 109, 150);
    height: 400px;
    display: grid;
    place-items: center;
}