h1 {
    color: rgb(255, 255, 255);
    margin: 16px 10px 16px 10px;
}

p {
    margin: 16px 10px 16px 10px;
}

.container {
    background-color: rgb(51, 109, 150);
    margin: 50px 200px 50px 200px;
    height: 400px;
    display: grid;
    place-items: center;
}